*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}
nav{
  background-color: rgb(74, 30, 197);
}

.nav-order{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-order{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-order li{
  padding: 16px;
}

img{
  padding: 10px;
}